<p id="notice"><%= notice %></p>

<h1>Shopperoo Listings</h1>

<%= link_to 'New Listing', new_listing_path %>

<% @listings.each do |listing| %>
    <div class="card">
    <%# <%= image_tag shop.picture if shop.picture.attached? %>
    <p><%= listing.created_at %></p>
    <p><%= listing.status %></p>
    
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <%# <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    
  </tbody>
</table>
<% end %>
<br>