<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<h1> Listing for shopping at <%="#{@listing.shop.name}"%></h1>
  <p>Date created:<%= @listing.created_at %></p>
  <p>Shop:<%= @listing.shop.name %> (Address:<%= @listing.shop.contact.address %>)</p>
  <p>Product List:</p>

    <% @listings_products.each do |lp| %>
      <p>Name:<%= lp.product.name %></p>
      <p>Description:<%= lp.product.description %></p>
      <p>Quantity:<%= lp.quantity %></p>
      <p>Price $<%= (lp.product.price)/100 %></p>
   
  <% end %>

  <p>Total: $<%= (@listing.total)/100 %></p>
  <p>Purchaser:<%= @listing.user.email %></p>
  <p>Delivery address:<%= @listing.user.contact.address %></p>
  <p>Status: <%= @listing.status %></p>
  <p>Comission (2% of total): $<%= ((@listing.total)/100)*0.02 %></p>

<button id="stripePayment">Pay Deposit: $<%=number_with_precision(@listing.total/100.0, precision: 2)%></button>

<script>
document.getElementById("stripePayment").addEventListener("click", function() {
  var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public)%>');

  stripe.redirectToCheckout({
      sessionId: '<%= @stripe_session_id%>',
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
    });
});
</script>