<p id="notice"><%= notice %></p>

<div class="title-container">
<h1>Shops</h1>
</div>

<div class="shops">
  <% @shops.each do |shop| %>
    <div class="card">
      <div class="thumbnail">
        <div class="caption">
          <%# <%= image_tag shop.picture if shop.picture.attached? %>
          <h3><%= link_to shop.name, shop %></h3>
            <p><%= shop.description %></p>
            <p><%= link_to 'Show Products', shop, class: "btn btn-default" %></p>
        </div>
      </div>
    </div>
    <% end %>
</div>
  
<br>

<%# <%= link_to 'New Shop', new_shop_path %>
