<p id="notice"><%= notice %></p>
<%= link_to 'Back', shops_path %>

<div class="title-container">
    <h1><%= @shop.name %></h1>
</div>

<h2>Shop Description:</h2> 
<p><%= @shop.description %></p>

<div class="blocks">
    <% @products.each do |product| %>
        <div class="card">
            <div class="thumbnail">
                <div class="caption">
                    <p><%= "#{product.name}: #{product.description} $#{number_with_precision(product.price/100, precision: 2)}"%></p>
                    <p><%= button_to "Add to cart", {controller: "carts", action: "add_to_cart", product: product.id}, method: :post %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
  
<br>