<p id="notice"><%= notice %></p>
<h3><%= @shop.name %></h3>
<h5><%= @shop.description %></h5>

    <ul>
        <% @products.each do |product| %>
            <li><%= "#{product.name}: #{product.description} $#{number_with_precision(product.price/100, precision: 2)}"%></li>
            <td><%= button_to "Add to cart"%></td>
        <% end %>
    </ul>

<%= link_to 'Edit', edit_shop_path(@shop) %> 
<%= link_to 'Back', shops_path %>
