<div class="title-container">
  <h1>Welcome To Shopperoo</h1>
</div>

<% if(current_user != nil) %>
<%# write our logged in home %>
  <%= form_with url: shops_path, method: "get" do |f| %>
    <%= label_tag(:query, "Search for shop/store:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>

<%# need to insert logo picture %>
  <h2>Happy Shoppings!</h2>
    <div>
      <h2>My Listings</h2>
      <div class="own_listing">
        <%= @lists.each do |list| %>
          <div class="card">
              <div class="thumbnail">
                  <div class="caption">
                      <%# <%= image_tag shop.picture if shop.picture.attached? %>
                       <h3>Listing <%= list.id %></h3>
                        <p>Shop:<%= list.shop.name %></p>
                        <p>Date created:<%= list.created_at %></p>
                        <p>Status:<%= list.status %></p>
                        <p>Total: $<%= number_with_precision(list.total/100, precision: 2) %> </p>
                        <p><%= link_to 'Show', list, class: "btn btn-default" %></p>
                  </div>
              </div>
          </div>
      <% end %>
    </div>

  <div>
    <h2>My Jobs</h2>
        <div class="own_listing">
          <% @jobs.each do |job| %> 
            <div class="card">
                <div class="thumbnail">
                    <div class="caption">
                      <%# <%= image_tag shop.picture if shop.picture.attached? %>
                      <h3>Job <%= job.id %></h3>
                      <p>Purchaser:<%= job.user.email %></p>
                      <p>Shop:<%= job.shop.name %></p>
                      <p>Date created:<%= job.created_at %></p>
                      <p>Status:<%= job.status %></p>
                      <p>Total: $<%= job.total %></p>
                      <p><%= link_to 'Show', job, class: "btn btn-default" %></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
  </div>
<% end %>

<% else %>
  <%# write our not logged in home %>
  <h2>Your adventure to happy fast shopping awaits! Join or Login now</h2>   
<% end %>