<!DOCTYPE html>
<html>
  <head>
    <title>RailsAssessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= link_to "Home", root_path %>

    <% if(current_user != nil) %>
      <%= link_to "Shops", shops_path %>
      <%= link_to "Jobs Available", listings_path %>
      <%= link_to "Cart", current_user.cart %>
      <%= link_to "logout", destroy_user_session_path, method: "DELETE" if user_signed_in? %>
    <% else %>
    <%# write our not logged in home %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Join", new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
